[submodule "modules/yasnippet"]
	path = modules/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "modules/auto-complete-clang"]
	path = modules/auto-complete-clang
	url = https://github.com/brianjcj/auto-complete-clang.git
[submodule "modules/ecb"]
	path = modules/ecb
	url = https://github.com/alexott/ecb
[submodule "modules/auto-complete"]
	path = modules/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "modules/org-mode"]
	path = modules/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "modules/twittering-mode"]
	path = modules/twittering-mode
	url = git://github.com/hayamiz/twittering-mode.git
[submodule "modules/magit"]
	path = modules/magit
	url = git://github.com/magit/magit.git
[submodule "modules/git-modes"]
	path = modules/git-modes
	url = git://github.com/magit/git-modes.git
[submodule "modules/markdown-mode"]
	path = modules/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
