[submodule "modules/yasnippet"]
	path = modules/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "modules/auto-complete-clang"]
	path = modules/auto-complete-clang
	url = https://github.com/brianjcj/auto-complete-clang.git
[submodule "modules/ecb"]
	path = modules/ecb
	url = https://github.com/alexott/ecb
[submodule "modules/auto-complete"]
	path = modules/auto-complete
	url = https://github.com/auto-complete/auto-complete
